<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angularJS测试</title>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript">
        var app=angular.module("app",[]);
        app.controller("myController",function($scope) {
            $scope.add=function () {
                $scope.z=parseInt($scope.x)+parseInt($scope.y);
            }
        })
    </script>
</head>
<body ng-app="app" ng-controller="myController">
x:<input ng-model="x"><br/>
y:<input ng-model="y"><br/>
<button ng-click="add()">点击进行计算</button>
<br/>
x+y={{z}}
</body>
</html>