<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angularJS测试</title>
    <script src="js/angular.min.js"></script>
    <script type="text/javascript">
        var app=angular.module("app",[]);
        app.controller("myController",function ($scope) {
            $scope.list=[1,2,3,4,5];
            $scope.persons=[{"id":100, "name":" 传智播客 1", "gender":" 男"},
                {"id":101, "name":" 传智播客 2", "gender":" 女"},
                {"id":102, "name":" 黑马", "gender":" 男"}
        ];
        })
    </script>
</head>
<body ng-app="app" ng-controller="myController">
简单数组集合遍历:<br/>
<div ng-repeat="num in list">
    {{num}}<br/>
</div>
对象数组集合遍历:<br/>
<table>
    <thead>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>性别</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="person in persons">
        <td>{{person.id}}</td>
        <td>{{person.name}}</td>
        <td>{{person.gender}}</td>
    </tr>
    </tbody>
</table>
</body>
</html>