<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  真正可以产生 Connection 的 ConnectionFactory ，由对应的 JMS 服务厂商提供  -->
    <bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.12.168:61616"/>
    </bean>

    <!--spring用于管理真正的connection1Factory的connectionFactory-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <!--目标connectionFactory对应真实的可以生产jms connection的connectionFactory-->
        <property name="targetConnectionFactory" ref="targetConnectionFactory"/>
    </bean>

    <!--spring提供的jms工具类,它可以进行消息发送,接受等-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <!--这个connectionFactory对应的是我们定义的spring提供的那个connectionFactory对象-->
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <!--队列模式,在商品审核后接收的商品列表队列-->
    <bean id="itemSolrQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="pinyougou_item_solr_queue"/>
    </bean>

    <!--队列模式,在商品删除后接收的商品队列-->
    <bean id="itemSolrDeleteQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="pinyougou_item_solr_delete_queue"/>
    </bean>

    <!--订阅模式,在商品审核后接收的商品主题-->
    <bean id="itemTopic" class="org.apache.activemq.command.ActiveMQTopic">
    <constructor-arg value="pinyougou_item_topic"/>
</bean>

    <!--订阅模式,搜索系统在商品删除后接收的商品id队列-->
    <bean id="itemDeleteTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="pinyougou_item_delete_topic"/>
    </bean>

</beans>